@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-app="myApp">
    <div ng-controller="TheController">
        <input type="text" ng-model="username" />
        <button>Click</button>
        {{ username }}
   

    <div ng-repeat="x in line">
        {{ x.ContactName }}
    </div>

    </div>

    <script src="~/Scripts/angular.min.js"></script>
    <script>
        angular.module('myApp', [])
            .controller('TheController',['$scope', '$http', function ($scope, $http) {
                $scope.line;
                    $http.get('/api/access/').
                         success(function (data, status, headers, config) {
                             $scope.line = data;
                             console.log(data);
                         }).
                         error(function (data, status, headers, config) {

                         });                           
           
            }]);

    </script>
</body>
</html>
