 <form data-bind="submit: send">
    <input type="text" name="ContactName" placeholder="Name"/>
    <input type="text" name="ContactAddress" placeholder="Address" />
    <button style="display:block">Send</button>    
</form>
